@tailwind base;
@tailwind components;
@tailwind utilities;

.button1 {
  color: #212020;
  background-color: #fff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
}

/* Hover effect for glowing */
.button1:hover {
  box-shadow: 0 0 20px #facf0ecc;
}

.arraow-hover {
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
}

.arraow-hover:hover {
  box-shadow: 0 0 20px #facf0ecc;
}

.button2 {
  color: #212020;
  background-color: #facf0e;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  font-weight: 400;
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
}

@media (max-width: 768px) {
  .button2 {
    color: #212020;
    background-color: #facf0e;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
